{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robots!</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Robots</h1>
  <div class="robot-container">
    {% for image in images %}
      <div class="robot-card" data-name="{{ image.name }}" data-bio="{{ image.bio }}" data-img="{{ image.url }}">
        <img class="robot-img" src="{{ image.url }}" alt="Robot {{ forloop.counter }}">
        <p class="robot-name">{{ image.name }}</p>
      </div>
    {% endfor %}
  </div>


  {% include "robots/_modals.html" %}
  
</body>
</html>
